#input {
  background-color: #777c85;
}

#inner-box {
  background-color: #2d2d2d;
}

#outer-box {
  background-color: #2d2d2d;
}

#scroll {
  background-color: #2d2d2d;
}

#text {
  color: #ffffff;
}
