/*************
 * WordPress *
 *************/

/* Inline help */
#wpcom > div > div.inline-help {
  display: none !important;
}

/*
 * Homepage buttons
 */

/* Design a logo */
#primary > main > div.customer-home__layout > div.customer-home__layout-col.customer-home__layout-col-left > div > div > div:nth-child(7) {
  display: none !important;
}

/* Design a logo */
#primary > main > div.customer-home__layout > div.customer-home__layout-col.customer-home__layout-col-left > div > div > div:nth-child(8) {
  display: none !important;
}


/*
 * Sidebar on homepage
 */

/* "Stats at a glance" */
#primary > main > div.customer-home__layout > div.customer-home__layout-col.customer-home__layout-col-right > div.card.stats-card {
  display: none !important;
}

/* "Grow & Earn" */
#primary > main > div.customer-home__layout > div.customer-home__layout-col.customer-home__layout-col-right > div.card.customer-home__grow-earn {
  display: none !important;
}

/* Support */
#primary > main > div.customer-home__layout > div.customer-home__layout-col.customer-home__layout-col-right > div:nth-child(4) {
  display: none !important;
}

/* Go Mobile */
#primary > main > div.customer-home__layout > div.customer-home__layout-col.customer-home__layout-col-right > div.card.go-mobile-card {
  display: none !important;
}

/*
 * Left Navbar
 */

/* Stats */
#secondary > div > div.sidebar.has-regions > div.sidebar__region > div.sidebar__menu-wrapper > ul:nth-child(1) > ul > li.stats {
  display: none !important;
}

/* Plan */
#secondary > div > div.sidebar.has-regions > div.sidebar__region > div.sidebar__menu-wrapper > ul:nth-child(1) > ul > li:nth-child(3) {
  display: none !important;
}

/* Comments */
#secondary > div > div.sidebar.has-regions > div.sidebar__region > div.sidebar__menu-wrapper > ul:nth-child(2) > div > ul > li:nth-child(4) {
  display: none !important;
}

/* Feedback */
li[data-tip-target="side-menu-feedback"] {
  display: none !important;
}

/* Marketing */
li[data-tip-target="marketing"] {
  display: none !important;
}

/* Earn */
li[data-tip-target="earn"] {
  display: none !important;
}

/* Plugins */
li[data-tip-target="side-menu-plugins"] {
  display: none !important;
}

/* Import */
li[data-tip-target="side-menu-import"] {
  display: none !important;
}

/* Hosting Configuration */
#secondary > div > div.sidebar.has-regions > div.sidebar__region > div.sidebar__menu-wrapper > ul:nth-child(5) > div > ul > li:nth-child(1) {
  display: none !important;
}

/* People */
li[data-tip-target="people"] {
  display: none !important;
}

/* Add new site */
#secondary > div > div.sidebar.has-regions > div.sidebar__footer > li {
  display: none !important;
}
