[Unit]
Description=Dropbox running in %I environment

[Service]
Environment="DISPLAY=:0"
Environment="DROPBOX_BASE=/mnt/external/storage/dropbox"
Environment="DROPBOX_ENV=%I"

# Note: I wasn't able to figure out how to dynamically replace /home/zrl/ to be
# the current user. If you can figure this out, please fix.
ExecStart="/home/zrl/.config/systemd/user/dropbox@.service.d/start.sh"
