/coc/
/configstore/
/.mono/
/yarn/
/htop/
/Slack/
/mimeapps.list
/Rapid Photo Downloader/
/Unknown Organization/
/dconf/
/pavucontrol.ini
/pulse/
/zoomus.conf
/markpress/
/modem-manager-gui/
/obs-studio/
/redisdesktop/
/autostart/
/spotify/
/enchant/
/Typora/
/Kitware/
/borg/
/QtProject.conf
/GIMP/
/Ferdi/
/ghostwriter/
/Thunar/
/xfce4/
