#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Boards
Exec=/opt/google/chrome/google-chrome "--app=https://github.com/hackedu/hackedu#boards?repos=33744138,35706450,15836199,16757442"
Icon=chrome-https___github.com_hackedu_hackedu#boards_repos=33744138,35706450,15836199,16757442
StartupWMClass=github.com__hackedu_hackedu
