#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Boards
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://github.com/hackclub/hackclub/pulls#boards?repos=16757442,35706450,33744138,15836199,30138951,28125688,28832278,42498117,40752003,44640473,44234413,46706610
Icon=chrome-fdfmmlofppbjobfjojhfinicjndeabme-Default
StartupWMClass=crx_fdfmmlofppbjobfjojhfinicjndeabme
