#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hack Club Slack
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://starthackclub.slack.com
Icon=chrome-bmhjpgdbbfbdemkckmpfmcidhmgedaae-Default
StartupWMClass=crx_bmhjpgdbbfbdemkckmpfmcidhmgedaae
