#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=IRCCloud
Exec=/opt/google/chrome/google-chrome --app=https://www.irccloud.com/
Icon=chrome-https___www.irccloud.com_
StartupWMClass=www.irccloud.com
